
@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content col-md-9 divBorder">

</div>


<div class="container col-md-3 divBorder">
</div> 
